{% extends "base.html" %} {% block title %}Welcome{% endblock %}
{%block content %}

<html> 
<h1 color="#000000" align="center">Welcome to PickFlix</h1>
<h2 img src="(avenger_quiz/website/templates/toasted)"> </h2> 
    <h4 color="#00FF00" align="center">
        <div class="form-group">
             <a href="/take_quiz"> <button type="button" class="btn btn-primary">Find movies that you match</button>
            </a>
            <a href="/pick_a_flix"> <button type="button" class="btn btn-primary" color="#FF0000">PickFlix</button>
            </a>
        </div>
    </h4>
</form>


</html>


{% endblock %}