{% extends "base.html" %} {% block title %} Home {% endblock %} {%block content%}

<!DOCTYPE html>

<html>
  <head>
    <h1 align="center">Get ready to start the quiz</h1>

    <h2
      align="left"
      width="250"
      height="250"
      
    </h2>
  </head>
  <body>
    <img src="/static/toasted_logo.jpg" width="800" height="800" align="center"/>

    <form class="grid" method="POST">
      <label for="answer" align="center"></label>
      <a href="/show_movies"> 
      <button align="center" type="button" class="btn btn-primary"> 
        Show Movies
      </button> </a> 
      <button align="center" type="Submit" class="btn btn-primary" text="yesno">
       Show TV Shows
      </button>

      <center></center>
    </form>
  </body>
</html>

{% endblock %}
