<!DOCTYPE html>

<html>
  <head> 

  <h1 align="center">Get ready to start the quiz</h1>

  <h2
    align="center"
    img
    src=("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.britannica.com%2Ftopic%2Fthe-Avengers-superhero-team&psig=AOvVaw2sJ2O9xCfwwttObNnbzNAy&ust=1675050544350000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCJj37djv6_wCFQAAAAAdAAAAABAD")
    alt="Description for image"
    width="250"
    height="250"
  ></h2>
  </head> 
  <body>
    <form class="grid" method="POST">
      <label for="answer" align="center">Do you want to start the quiz and find out which avenger YOU
        are?</label
      >
      <button type="Submit" class="button" text="yesno">Yes</button> 
      <button type="Submit" class="button" text="yesno">No</button>
  
      <input type="button" id='script' name="scriptbutton" value="Take Quiz" onclick="exec('python avenger_code.py');">

      <center>

      </center>
    </form>
  </body>
</html>


